@import "tailwindcss";

*{
  scroll-behavior: smooth;
}

.herosection h1{
  display: ruby;
  color: rgb;
  /* gap: 10px; */
  
  background-size: 300% 300%;
  animation: gradient-flow 2s ease infinite;
}
.card:hover{
  flex-grow:0.1;
  z-index: 10;
}
.card{
  flex-grow: 0;
  z-index: 0;
}
@keyframes gradient-flow {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

/* 1. Chrome, Safari, Edge (WebKit) */
.noscrollbar::-webkit-scrollbar { display: none; }

/* 2. Firefox (Gecko) */
.noscrollbar { scrollbar-width: none; }

/* 3. Old IE & Edge (Trident/EdgeHTML) */
.noscrollbar { -ms-overflow-style: none; }
body{
  background-color: rgba(0, 0, 0, 0.647);
  color: white;
}